/* Resetando margens e padding para garantir um estilo consistente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo a fonte e a altura de linha para o corpo */
html, body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    height: 100%;
}

/* Tema escuro */
body.dark-theme {
    background-color: #333;
    color: #fff;
}

body.dark-theme header {
    background-color: #2c6b2f;
}

body.dark-theme .skill-item {
    background-color: #2c6b2f;
}

body.dark-theme .contact ul li a {
    color: #fff;
}

body.dark-theme footer {
    background-color: #222;
}

/* Fonte alternativa */
body.roboto-font {
    font-family: 'Roboto', Arial, sans-serif;
}

/* Demais estilos permanecem os mesmos */
